# Gestion des données pour notre système d'analyse de musique

In [ ]:
# récupération des différents CSV

import pandas as pd 

liste_artist = pd.read_csv("df_list_artist_0-1754.csv")
infos_artist = pd.read_csv("info_artist_0-1754.csv")
infos_track = pd.read_csv("liste_album_track_0-1754.csv")
infos_album = pd.read_csv("liste_albums_artistes_0-1754.csv")

In [ ]:
# test des informations
display(
    liste_artist.tail(2),
    infos_artist.tail(2),
    infos_album.tail(2),
    infos_track.tail(2)
)

           artist_name               artist_id
13752           Godwin  2mzRsCFnmBdMKFgSCVqE3Y
13753  The Dark Horror  3e7LfI39pUL22PeGn1mlFa

,artist_name,artist_id,popularity,artist_followers,genres,image
1752,Sarah Cunningham,78qL3Rn9v8FjkBn7rdmjQW,24,514,[],https://i.scdn.co/image/ab67616d0000b273ed9c58...
1753,Ottmar Liebert,1AhYnfs5mzb3ennyLFXlYD,42,76248,"['flamenco', 'new age']",https://i.scdn.co/image/79f595ea0b3ca026a7fd2e...

,artist_id,album_name,album_id,release_date,total_tracks,url_image
18126,1AhYnfs5mzb3ennyLFXlYD,The Hours Between Night + Day,7KCJbVOoD4S0xIm4p4WaMv,1993-07-20,19,https://i.scdn.co/image/ab67616d0000b273d44594...
18127,1AhYnfs5mzb3ennyLFXlYD,Borrasca,69dd5s9JyQYrcNH4nbG8A8,1991-01-01,15,https://i.scdn.co/image/ab67616d0000b27327f261...

,album_name,album_id,album_type,total_tracks,release_date,release_date_precision,upc,label,popularity,images,disc_number,track_number,track_id,track_name,duration_ms
262834,Borrasca,69dd5s9JyQYrcNH4nbG8A8,album,15,1991-01-01,day,724387752955,Higher Octave,32,https://i.scdn.co/image/ab67616d0000b27327f261...,1,14,5re0XNJhWf2BbC0igr1yCt,1st Rain/Cry Of Faith,272626
262835,Borrasca,69dd5s9JyQYrcNH4nbG8A8,album,15,1991-01-01,day,724387752955,Higher Octave,32,https://i.scdn.co/image/ab67616d0000b27327f261...,1,15,5964zPjCuJDwL2BpFDISE7,Bajo La Luna Mix,379866

In [ ]:
# merge de 3 csv pour faire une table unique d'informations. Nous avons besoin de renommer la colonne popularity des artistes puisqu'elle porte le même nom que celle des albums
infos_artist.rename(columns={'popularity' : 'popularity_artist'}, inplace=True)
merge_temporaire = pd.merge(left =infos_track,right =infos_album)
df_spotify_1754 = pd.merge(left = merge_temporaire, right=infos_artist)

# on supprime une colonne en doublon 
df_spotify_1754.drop(columns=['images'], inplace=True)

# on renomme quelques colonnes pour plus de compréhension
df_spotify_1754.rename(columns={"popularity":"popularity_album", "url_image" : "url_image_album","genres" : "genres_artist", "image" : "image_artist"}, inplace=True)

In [ ]:
# on exporte ce nouveau CSV que l'on passe en zip pour lui permettre de passer le stockage git
df_spotify_1754.to_csv("df_spotify_1754.csv", index=False)