In [1]:
import pandas as pd

In [2]:
df_top_singles = pd.read_csv('df_top_singles.csv')

In [3]:
df_top_singles

,année,rang,artiste,titre,id_spotify
0,1994,1,"N'DOUR, YOUSSOU & CHERRY, NENEH",7 SECONDS,no id
1,1994,2,I AM,JE DANSE LE MIA,no id
2,1994,3,"REEL 2 REAL & STUNTMAN, MAD",I LIKE TO MOVE,no id
3,1994,4,"RED, AXELLE",SENSUALITE,no id
4,1994,5,"SPRINGSTEEN, BRUCE",STREETS OF PHILADELPHIA (B.O.F.),no id
...,...,...,...,...,...
4344,2024,196,BILLIE EILISH,LOVELY,2sBB17RXTamvj7Ncps15AK
4345,2024,197,JÉRÉMY FREROT,ADIEU,4Fdd91nXf2m2ZiOPVS18Zl
4346,2024,198,NEKFEU,ON VERRA,7BgeK3jtk8GDlEwouUY3AG
4347,2024,199,ARIANA GRANDE,WE CAN'T BE FRIENDS (WAIT FOR YOUR LOVE),5EYKrEDnKhhcNxGedaRQeK
4348,2024,200,PLK,PÉRIPH,4ImOyHSUym1ZFnmV3SKXDI

In [5]:
df_top_singles["artist_name_clean"] = df_top_singles["artist_name"].str.title()

In [6]:
df_top_singles.head(2)

,Unnamed: 0,année,rang,artist_name,titre,id_spotify;,artist_name_clean
0,"0,1994,1,""N'DOUR, YOUSSOU & CHERRY, NENEH"",7 S...",NaN,NaN,NaN,NaN,NaN,NaN
1,1,1994.0,2.0,I AM,JE DANSE LE MIA,no id;,I Am